
.score-container {
  margin: 20px;
}

.score-content {
  padding-top: 20px;
  padding-bottom: 20px;
}

.score-title {
  padding-bottom: 80px;
}

.score-form {
  margin-left: 5%;
  display: flex;
  justify-content: center;
}

.score-input {
  margin-top: 25px;
}

.score-button {
  display: flex;
  justify-content: center;
}