
.score-container {
  margin: 20px;
  width: auto;
}

.score-content {
  padding-top: 50px;
  padding-bottom: 20px;
  width: 100%;
}

.score-title {
  padding-bottom: 50px;
}

.score-text-title {
  font-size: 25px;
  line-height: 45px;
  letter-spacing: -0.015em;
  text-align: center;
}

.score-form {
  display: flex;
  justify-content: center;
}

.score-input {
  margin-top: 25px;
}
