.result {
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 40px;
  margin-right: 40px;
}

.result-h1 {
  margin-right: 30px;
  padding-right: 10px;
}

.result-h2 {
  margin-right: 30px;
  padding-right: 10px;
  border: 1px solid black;
  font-size: 10;
}