.base-form {
  padding: 20px 10px 20px 10px;
  border-radius: 20px;
  margin-right: 5%;
}

.base-form-title {
  font-size: 24px;
  line-height: 33px;
  letter-spacing: -0.015em;
  color: #263238;
  margin-bottom: 25px;
  display: flex;
  justify-content: center;
}

.base-form-img {
  width: 100%;
}